# **Week 09 - 2022/04/29**
---

## **Dictionary**
- 영어 사전
    - '단어: 뜻' 형태의 자료구조
    - 키: 값
    - 순서가 없다. => 인덱싱 불가능
    - "키로 값을 찾는다."
        - 키는 중복되지 않는 고유한 값
    - 가변: 수정, 삭제, 추가 가능
    - 타입: dict
    - 형변환: `dict()`
    - 중괄호 사용 {}, 콤마로 구분
    - 값에 다양한 자료구조가 올 수 있음
        - a:1, a:[1, 2, 3, 4]

In [102]:
# 인덱싱 불가능
# e.g. 리스트처럼 인덱싱 불가능
a = [1, 2, 3]
a[0]

1

### **생성**

##### **- 빈 딕셔너리 생성**

In [103]:
empty = dict()
empty = {}

- set은? => set()으로 생성

In [104]:
empty = {} #dict type
empty = set() # set type

##### **- 값이 있을 때 선언하기**

In [105]:
a = {1, 2, 3} #set
a = {1:'a', 2:'b', 3:'c'} #dict
a

{1: 'a', 2: 'b', 3: 'c'}

In [106]:
# 개인 추가 실습
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
num = {'num': [1,2,3]}
dic, num

({'name': 'pey', 'phone': '0119993323', 'birth': '1118'}, {'num': [1, 2, 3]})

In [107]:
# 키를 따옴표로 묶지 않아도 되는 방법
b = dict(apple='a', banana='b', kiwi='c')
b

{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}

#### **[실습 1] 출석부로 딕셔너리 만들기**
- 이름, 학번, 학과
- james 202201 경제학과
- laura 202203 스페인어과
- louis 202202 컴공과
- **무엇을 key로 할 것인가? => 유일한 값(학번)**

In [108]:
roll_book = {202201:['james', '경제학과'], 202203:['laura', '스페인어과'], 202202:['louis', '컴공과']}
roll_book

{202201: ['james', '경제학과'],
 202203: ['laura', '스페인어과'],
 202202: ['louis', '컴공과']}

### **형 변환**
- 쌍이 있을 때 가능

In [109]:
# 리스트 쌍
ex1 = [[1, 2], [2, 3], [3, 4]]
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [110]:
# 개인 추가 실습 => 리스트도 쌍이 아니면(요소기 3개 이상이면) 불가능
dict([1, 2, 3])

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [111]:
# 튜플 쌍
ex2 = [(1, 2), (2, 3), (1, 3)] # 키 중복 경우에는 마지막 것만 남고 다른 것은 없어짐
dict(ex2)

{1: 3, 2: 3}

In [112]:
# 문자열
ex3 = ['ab', 'bc']
dict(ex3)

{'a': 'b', 'b': 'c'}

In [113]:
# 문자열은 두 자리까지만 됨
ex4 = ['ab', 'bc', 'des'] 
dict(ex4)

ValueError: dictionary update sequence element #2 has length 3; 2 is required

### **항목 조회 & 변경**

In [114]:
pythons = {
    'Chapman':'Graham',
    'Cleese':'John',
    'Idle':'Eric',
    'Jonse':'Terry',
    'Palin':'Michael'
}

##### **- 항목 조회**
- 딕셔너리명[key]

In [115]:
pythons['Idle']

'Eric'

In [116]:
pythons['Hwa'] #없는 키, 값 => 오류 발생

KeyError: 'Hwa'

In [117]:
# 개인 추가 실습
ver1 = {1:'a', 2:'b'}
ver2 = {'a':1, 'b':2}
ver1[1], ver2['b']

('a', 2)

##### **- 항목 변경**
- key로 찾아서 다른 값을 넣어주면 됨

In [118]:
pythons['Idle'] = 'James'
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jonse': 'Terry',
 'Palin': 'Michael'}

In [119]:
# 개인 추가 실습
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
dic['name'] = ['pey', 'wang']
dic

{'name': ['pey', 'wang'], 'phone': '0119993323', 'birth': '1118'}

##### **- 항목 추가**

In [120]:
pythons['Hwa'] = 'Chloe'
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jonse': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

##### **\* 예외 없이 사용하는 법**

- `in` 멤버십 연산자 사용

In [121]:
'Hwa' in pythons

True

- `get()`

In [122]:
pythons.get('Lee', 0) # default -> 없는 키는 None 반환, 원하는 반환값 설정 가능(e.g. 0으로 설정)

0

##### **- 전체 조회**
- keys(), values(), items()

- `keys()`

In [123]:
pythons.keys()
list(pythons.keys()) #리스트로 형 변환해줘야 함

['Chapman', 'Cleese', 'Idle', 'Jonse', 'Palin', 'Hwa']

In [124]:
# 형 변환 안 해주면?
pythons.keys()

dict_keys(['Chapman', 'Cleese', 'Idle', 'Jonse', 'Palin', 'Hwa'])

- `values()`

In [125]:
pythons.values()
list(pythons.values()) #리스트로 형 변환해줘야 함

['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe']

- `items()`

In [126]:
pythons.items() #(키, 값) 튜플 형태로 => 순회 때 많이 씀
# 튜플 형태여서 인덱스로 접근 가능 0 -> 키, 1 -> 값

dict_items([('Chapman', 'Graham'), ('Cleese', 'John'), ('Idle', 'James'), ('Jonse', 'Terry'), ('Palin', 'Michael'), ('Hwa', 'Chloe')])

In [127]:
for k, v in pythons.items(): 
    print(f'{k} = {v}')

Chapman = Graham
Cleese = John
Idle = James
Jonse = Terry
Palin = Michael
Hwa = Chloe

In [128]:
[(k, v) for k, v in pythons.items()] # 리스트 컴프리헨션

[('Chapman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'James'),
 ('Jonse', 'Terry'),
 ('Palin', 'Michael'),
 ('Hwa', 'Chloe')]

In [129]:
# 0=key,1=value 
print(f'key: {[k[0] for k in pythons.items()]}')
print(f'value: {[k[1] for k in pythons.items()]}')

key: ['Chapman', 'Cleese', 'Idle', 'Jonse', 'Palin', 'Hwa']
value: ['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe']

In [130]:
# 아무런 인덱싱 없으면 키값만 나옴
[k for k in pythons]

['Chapman', 'Cleese', 'Idle', 'Jonse', 'Palin', 'Hwa']

#### **[실습 2] animal : num_leg 딕셔너리 만들기**

In [131]:
animals = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8

# 나의 답.(딕셔너리 컴프리헨션 사용)
animal_legs = {animal:leg for animal, leg in zip(animals, legs)}
animal_legs

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

In [132]:
# 딕셔너리 컴프리헨션 사용 X
num_leg = {}
for animal, leg in zip(animals, legs):
    num_leg[animal] = leg
num_leg

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

#### **[실습 3] pythons에서 튜플 (성, 이름) 리스트로 변환하기**
- 성: 이름, 성 첫 글자만, 이름은 글자 개수로 이루어진 튜플 (성, 이름) 리스트
- dictionary comprehension 사용 금지

In [133]:
pythons = {
    'Chapman':'Graham',
    'Cleese':'John',
    'Idle':'Eric',
    'Jonse':'Terry',
    'Palin':'Michael'
}

In [134]:
[(surname[0], len(first_name)) for surname, first_name in pythons.items()]

[('C', 6), ('C', 4), ('I', 4), ('J', 5), ('P', 7)]

### **값 수정, 삭제, 복제, 비교**

In [135]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jonse': 'Terry',
 'Palin': 'Michael'}

In [136]:
others = {
    'Marx':'Groucho',
    'Howard':'Moe'
}
others

{'Marx': 'Groucho', 'Howard': 'Moe'}

##### **- 수정(확장)**

In [137]:
# dict + dict
pythons.update(others)
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jonse': 'Terry',
 'Palin': 'Michael',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [138]:
# py 3에만 있는 기능
{**others, **pythons}

{'Marx': 'Groucho',
 'Howard': 'Moe',
 'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jonse': 'Terry',
 'Palin': 'Michael'}

##### **- 삭제**

- `del`

In [139]:
del pythons['Hwa'] #없는 것 삭제하면 오류 발생

KeyError: 'Hwa'

- `pop()`

In [140]:
pythons.pop('Lee', 0) #없으면 예외 발생/예외 시 출력 값 지정 가능

0

In [141]:
# 개인 추가 실습
pythons.pop('Lee', '없는 값!')

'없는 값!'

- `clear()` : 전체 삭제

In [142]:
pythons.clear()

# 전체 삭제하는 법 2
pythons = {}

##### **- 복제**
- 할당, 얕은 복사, 깊은 복사

- `할당`
  - 문제점: 값 변경 시 다 변함(같은 값 참조하고 있기 때문)

In [143]:
a = {1:1, 2:2, 3:3}
b = a
a[1] = 45
a, b

({1: 45, 2: 2, 3: 3}, {1: 45, 2: 2, 3: 3})

- `얕은 복사`

In [144]:
c = a.copy()
a[2] = 22
a, c

({1: 45, 2: 22, 3: 3}, {1: 45, 2: 2, 3: 3})

In [145]:
# 얕은 복사 문제점: 값이 가변객체일 때
a = {1:[1, 2, 3], 2:[2, 3, 4]}
d = a.copy()
a[1][0] = 100
a, d

({1: [100, 2, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

- `깊은 복사`

In [146]:
import copy
e = copy.deepcopy(a)
a[1][1] = 999
a, e

({1: [100, 999, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

##### **- 비교**
- '같다 다르다'만 된다

In [147]:
a != b

True

#### **[실습 4] 딕셔너리 실습**
1. 두 리스트로 하나의 딕셔너리 생성
2. 명왕성=pluto 추가하기
3. '성'으로 끝나지 않는 키 삭제하기
4. sorted 이용해서 값 정렬하기 키 기준, 값 기준

In [148]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [149]:
import operator
system = dict()
for k, v in zip(solar_kor, solar_eng):
    system[k] = v
system['명왕성'] = 'pluto'
system = dict([elem for elem in system.items() if elem[0].endswith('성')])
# dict([(k, v) for k, v in system.items() if k.endswith('성')])

key_sort = sorted(system.items(), key=lambda x:x[0])
value_sort = sorted(system.items(), key=lambda x:x[1])
'''key_sort = sorted(system.items(), key=operator.itemgetter(0))
value_sort = sorted(system.items(), key=operator.itemgetter(1))'''

'key_sort = sorted(system.items(), key=operator.itemgetter(0))\nvalue_sort = sorted(system.items(), key=operator.itemgetter(1))'

### **딕셔너리 컴프리헨션**

In [150]:
letter = 'apple'
{ch:letter.count(ch) for ch in letter}

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [151]:
# 단어의 모음 세기
vowels = 'aeiou'
word = 'onomatopoeia'
{w:word.count(w) for w in set(word) if w in vowels}
{v:word.count(v) for v in vowels if v in word}

{'a': 2, 'e': 1, 'i': 1, 'o': 4}

### **sorting**

In [152]:
def fx(x):
    return x[1]

In [153]:
sorted(system.items(), key=fx)

[('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

In [154]:
# 익명 함수 lambda 활용
sorted(system.items(), key=lambda x:x[0])

[('금성', 'venus'),
 ('명왕성', 'pluto'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('천왕성', 'uranus'),
 ('토성', 'saturn'),
 ('해왕성', 'neptune'),
 ('화성', 'mars')]

---

## **Set**
- "중복이 없다"
- 집합 => 교집합, 합집합, 차집합, ...
- bag, 인덱싱도 없다.

### **생성**

In [155]:
# 빈 집합 선언
empty = set()
empty

set()

In [156]:
a = {1, 2, 3}
a = set((1, 2, 3)) #선언, 형 변환

### **추가**

In [157]:
# 추가
a.add(4)
a

{1, 2, 3, 4}

### **삭제**

In [158]:
# 삭제
a.remove(4)
a

{1, 2, 3}

### **멤버십 연산자**

In [159]:
# 멤버십 연산자
drinks = {
    'martini':{'vodka', 'vermouth'},
    'balck russian':{'vodka', 'kahlua'},
    'white russian':{'cream', 'kahlua', 'bitters'},
    'manhattan':{'rye', 'vermouth', 'bitters'},
    'screwdriver':{'orange juice', 'vodka'}
}

In [160]:
# vodka가 포함된 술 출력
for name, elem in drinks.items():
    if 'vodka' in elem:
        print(name)

martini
balck russian
screwdriver

In [161]:
# vodka는 있지만 cream, vermouth 없는 술 출력하기
for name, elem in drinks.items():
    if 'vodka' in elem and 'cream' not in elem and 'vermouth' not in elem:
        print(name)

balck russian
screwdriver

In [162]:
# set을 활용해서 바꾸기
for name, elem in drinks.items():
    if elem & {'vodka'} and not elem & {'cream', 'vermouth'}:
        print(name)

balck russian
screwdriver

### **집합 연산**
- 교집합, 합집합, 차집합

In [163]:
a = {1, 2, 3}
b = {2, 3, 4}

- `교집합` | intersection
  - intersection()
  - &

In [164]:
a.intersection(b)
a & b

{2, 3}

- `합집합` | union
  - union()
  - |

In [165]:
a.union(b)
a | b

{1, 2, 3, 4}

- `차집합` | difference
  - difference()
  - -

In [166]:
a.difference(b)
a - b, b - a

({1}, {4})

### **set 컴프리헨션**

In [167]:
{s for s in range(5)}

{0, 1, 2, 3, 4}

### **frozenset**
- 가변객체 -> 불변객체

In [168]:
# frozenset
set([1, 2])
temp = frozenset([1, 2])

---
## **Review**

### **새롭게 알게 된 내용**

- 딕셔너리 컴프리헨션
- lambda 사용법
- frozenset()