# **Week 02 - 2022/03/11**
##### 처음 시작하는 파이썬 p. 75~105

---

## **Week 01 Review**
- string
- float
- integer
- boolean

---

## **Ch02. Variable**

### **2.1 할당**

In [16]:
# 여러 이름 동시에 할당
two = deux = dos = 2 # dos -> deux -> two 순으로 할당됨.
two

2

In [17]:
id(two), id(deux)

(2742977063248, 2742977063248)

<br>

### **2.2 가변객체, 불변객체** [\[참고\]](https://fierycoding.tistory.com/43)

##### **불변객체 e.g. integer**

In [18]:
# integer 불변객체이므로 변하지 않음
two = 4
print(two, deux, dos) #deux, dos 변하지 않음.

4 2 2

In [19]:
#(메모리)공간에 대한 주소는 변화
# id(): 객체의 고유값(레퍼런스-메모리상에 위치한 주솟값)을 반환하는 함수
id(two), id(deux)   # two -> 4를 가리킴, deux -> 2를 가리킴

(2742977063312, 2742977063248)

##### **가변객체 e.g. list**

In [4]:
#가변객체 e.g. list
p = [1, 2, 3]
q = p
p, q

([1, 2, 3], [1, 2, 3])

In [5]:
id(p), id(q)

(1834939723008, 1834939723008)

In [6]:
p[0] = 9
p, q  #값이 바뀜

([9, 2, 3], [9, 2, 3])

In [7]:
id(p), id(q)  #주소값은 변하지 않음

(1834939723008, 1834939723008)

<br>

### **2.3 좋은 변수명**
- 간결하고 명확한 이름
- 의미가 담겨야 한다.
    - a, b, c. ... (X)
- ***코드에는 의미***가 담기고 ***주석에는 의도***가 담긴다.
    - 예:  the number of students
    n < the_number_of_students < 'num_students'(파이썬)
    - 카멜표기법: numStudents(Java 선호)

<br>

### **2.4 자료형 변환, 형 변환**
##### `str(<변환할 값>)`, int(), float(), bool()

In [4]:
a = 10
#str
str(a)

#float
float(a)

#bool
bool(a)  #어떤 값이 False로 변환이 되는지만 기억

True

##### **주의할 점 1:** `float -> int` (소수점 절삭)

In [20]:
x = 20.6  #소수점 절삭됨
int(x)

20

In [21]:
y = 17.8

print(int(x + y)) #더한 후 절삭
print(int(x) + int(y)) #절삭 후 더함 (값이 달라짐)

38
37

##### **주의할 점 2:** `str -> int/float` (타입에 맞는 형 변환)

In [12]:
i = '10'
int(i), float(i)

(10, 10.0)

In [22]:
#문제점: int와 맞지 않는 str을 int로 형 변환 시 문제 발생
j = '10.7'  #10.7은 명백히 interger가 아님.(float형으로 형 변환)
int(j)

ValueError: invalid literal for int() with base 10: '10.7'

<br>

### **2.4 `print()` 꿀팁**

##### **병렬 출력**

In [23]:
hyrax  = 'hyrax'
armadillo = 'armadillo'
pika = 'pika'

print(hyrax + armadillo + pika)  #space X, \n
print(hyrax, armadillo, pika)   #space O, \n

hyraxarmadillopika
hyrax armadillo pika

##### **키워드 인수(sep, end)**

In [24]:
print(hyrax, armadillo, pika, sep=' ', end='\n') #default(argument 내에선 붙여쓰기하기도 함)
print(hyrax, armadillo, pika, sep='/', end='\n\n')
print('EOL')

hyrax armadillo pika
hyrax/armadillo/pika

EOL

In [25]:
#1.
print("My favourite animal is ", hyrax)

#2.
print(f"My favourite animal is {hyrax}.")

My favourite animal is  hyrax
My favourite animal is hyrax.

##### **코드 줄이 짧을 때 ;(세미콜론)을 이용해 한 줄로 쓸 수 있다.**

In [26]:
hyrax  = 'hyrax'; armadillo = 'armadillo'; pika = 'pika'
print(pika)

pika

<br>

### **2.5 `input()` 함수**
- console에서 사용자가 입력하는 값을 받을 수 있는 함수
- 입력 받는 값은 **문자열**로 인식이 된다.
- 입력 받을 값을 **변수에 담아서 사용**한다.
- 변수에 저장하지 않을 경우 사라진다.
- 숫자일 경우 형 변환한다. => int(input()), float(input()) ...

In [19]:
input("Hello?")

Hello? Hi

'Hi'

##### **숫자일 경우 형 변환**

In [20]:
int(input('나이가 어떻게 되나요?'))

나이가 어떻게 되나요? 21

21

##### **변수에 할당하는 방법**

In [21]:
#1.
age = int(input('나이가 어떻게 되나요?'))

나이가 어떻게 되나요? 21

In [22]:
age

21

In [23]:
#2.
print('나이가?')
age = input()

나이가?

 21

In [24]:
age

'21'


### **`Quiz 1`**
- 섭씨를 입력받아서 화씨로 변환하기
- "섭씨 * 1.8 + 32 = 화씨"

In [26]:
celcius = float(input('섭씨: '))
fahrenheit = (celcius * 1.8) + 32
print(f"변환된 화씨: {fahrenheit}")

섭씨:  37.78

변환된 화씨: 100.004

### **`Quiz 2`** 
- 택배 정보 입력 받고, 총 합계 계산하기
- 출력값: 
    -"==택배 정보=="
    - 수취인 성명: <이름>
    - 수취인 주소: <주소>
    - 배송비: 3000원
    - 물건 비용: <가격>원
    - 총 합계: <가격>원
- 물건 비용: 무게(g) * 5
- 합계 = 배송비 + 물건 비용

In [34]:
name = input('수취인 성명: ')
address = input('수취인 주소: ')
weight = float(input('무게(g): '))
shipping_fee = 3000
price = weight * 5
total = shipping_fee + price

print()
print("==택배 정보==")
print(f"""수취인 성명: {name}
수취인 주소: {address}
배송비: {shipping_fee}원
물건 비용: {price}원
총 합계: {total}원""")

수취인 성명:  여혜인
수취인 주소:  세종특별자치시
무게(g):  500

==택배 정보==
수취인 성명: 여혜인
수취인 주소: 세종특별자치시
배송비: 3000원
물건 비용: 2500.0원
총 합계: 5500.0원

---


## **Ch03: Numbers**

### **3.1 boolean**
- T/F 진위값
- 형 변환 시 True, False인지 기억
    - **False: ''(빈 값), None, 0, ...**
    - True: 이외
- 조건식에서 많이 쓴다. e.g. 만약 이 조건이 True라면, ...

In [35]:
bool(1)

True

In [36]:
bool('') #빈 string

False

### **3.2 integer**
- 소수점 없음.
- default 양수, 음수는 앞에 -를 붙인다.
- 숫자 앞에는 0을 붙일 수 없다. e.g. 05(X)
    - 예외적으로 e.g. 0bxxx => 다른 진수 표현법
- 리터럴: 4
- 숫자는 공백이 많아도 무시된다.
- 10,000원 -> 10, 000원 두 개로 인식 => _(언더바) 사용
    - _(언더바)는 숫자 사이에 있을 때 무시됨.
    - e.g. 10_000

##### **음의 정수**

In [27]:
a = -574 #음의 정수 표현
26 + a

-548

##### **정수 앞 0 불가능**

In [28]:
a = 003 #앞에 0 붙일 수 없음. 오류 발생(불가능)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (Temp/ipykernel_5252/349262782.py, line 1)

##### **공백 무시**

In [29]:
-9 + 5             -1 #공백 무시

-5

##### **언더바 무시**

In [30]:
a = 342_500 #_(언더바)는 숫자 사이에 있을 때 무시됨.
print(a)

342500

<br>

### **3.3 연산**
- 연산자|operator: +, -, ...
- 피연산자|operand: 연산이 되는 값들. e.g. 4, 5, ...
- 수식|expression: 연산, 피연산자로 이루어진 것

##### **연산자**

- 할당연산자

In [49]:
x = 2
y = 7

#plus(3.4 복합대입연산자)

- 산술연산자

In [50]:
#산술연산자
x + y
x - y
x * y
x / y

#거듭제곱|exponential
x ** y

#몫, 나머지
x // y
x % y

2

###### **나눗셈에서 주의할 사항**

In [39]:
#1. division by zero => 주의! (y!=0): 0으로 나눌 수 없음
#2. 몫, 나머지
x // y #몫(정수)
x % y  #나머지
x / y  #단순 나눗셈(부동소수점)

x // y, x % y,  x / y

(0, 2, 0.2857142857142857)

In [40]:
divmod(x, y) # 몫, 나머지만 출력하고 싶을 때

(0, 2)

##### 이외에도...
- 비교연산자(4.3)
- 논리연산자(4.4)
- 항등연산자: is, is not
- 멤버연산자: in
- 비트연산자: &, | ^, ~, <<, >>
- [바다코끼리 연산자](https://nanarin.tistory.com/287)(Python 3.8):   :=

<br>

### **3.4 복합 대입연산자**

In [94]:
a = 5
a - 3
print(a) # a - 3만 하면 a값은 변하지 않음.

5

In [46]:
a = a - 3
#1. a-3 계산
#2. 임시변수 temp = a - 3
#3. a = a - 3  

a -= 3 #복합대입연산자

##### **복합대입연산자 종류**

In [98]:
a += 3
a -= 3
a *= 3
a /= 3
a **= 3

8

##### **사용 시 주의할 점(초기화 필수)**

In [48]:
u = ? #값 초기화할 것. 초기화 이후 복합대입연산자 사용 가능
u = u + 1 #초기화하지 않았으므로 오류 발생

SyntaxError: invalid syntax (Temp/ipykernel_18036/2498341549.py, line 1)


### **`Quiz 1.`**
- 1\) 정수를 입력 받고 3의 배수인지 확인하세요.
- 2\) 정수를 입력 받고 홀수인지 확인하세요.
- key point: **mod 연산** 활용

In [61]:
#1)
num = int(input('정수 입력: '))
num % 3 == 0

정수 입력:  6

True

In [62]:
#2)
num = int(input('정수 입력: '))
num % 2 == 1

정수 입력:  4

False

<br>

### **3.5 지수 표현**
- e, E 둘 다 가능
- 앞부분은 float, int
- 뒷부분은 int만 온다.
    - 양수면 0 앞으로 e.g. <숫자>e<소숫점 앞으로 붙일 0 개수>
    - 음수면 0 뒤로(소수점) e.g. <숫자>e<-소숫점 아래 자릿수>

In [63]:
1.0e6 #float

1000000.0

In [35]:
# 0.000789 => 지수 표현?
7.89e-5
789e-6
# 0.0789

0.000789

---

## **Ch04. 조건문, If**

### **4.1 코드 짜는 룰**
##### **주석 다는 법**
- 주석: 설명하는 부분
- 목적: 의도 표현, 의사소통
- 방법: '#' hash, sharp, ...
- 시작된 부분부터 그 라인 끝까지 주석
- 문자열 안에 들어있는 해시는 문자열로 인식
- """<주석>""" : 여러 줄 주석을 달 때 사용

- 기본 주석(#)

In [69]:
a = 3 #여기부터 라인 끝
b = 2

- 문자열 내의 해시(#): 문자열

In [47]:
example = 'hey ###'
print(example)

hey ###

- 여러 줄 주석

In [46]:
"""
주석1
주석2
주석3
"""

'\n주석1\n주석2\n주석3\n'

##### **라인 유지하기**
- 들여쓰기, 공백 4개, 탭 1개(탭 사용)
- 한 줄에 최대 80자 넘지 않게
- 넘을 경우 백슬래시로 끊어준다.(\\)

In [45]:
sum = 1 + \
2 + \
3 + \
4 

sum

10

<br>

### **4.2 조건문, if**
##### **code structure**(들여쓰기 블럭 표현)

In [ ]:
if ...:
    ###

##### **`조건 1개`**
if <조건식>:<br>
　　 <실행할 코드>

In [48]:
if 4 == 9:
    print('hey~')
if 4 != 9:
    print('Yaaay!')

Yaaay!

##### **`조건 2개`**
if <조건식>:<br>
　　<실행할 코드 1><br>
else:<br>
　　<실행할 코드 2>

In [72]:
if 4 == 9:
    print('Yaay!')
else: 
    print('hey')

hey

##### **`조건 3개 이상`**
if <조건식 1>:<br>
　　　<실행할 코드 1><br>
elif <조건식 2>:<br>
　　　<실행할 코드 2><br>
    <br>
    ...<br>
else:<br>
　　　<실행할 코드 3>

<br>

### **4.3 비교연산자**
- x < y, x <= y
- x > y, x >= y
- x == y(값)
- x != y(값)
- x is y(값, 메모리 주소)
- x is not y

### **`Quiz 1.`**
- 학점 부여하기
- 학점을 입력 받아서
    - 90점 이상이면 A
    - 80, B
    - 70, C
    - 그 외, D
- 변수 설정 유의

In [81]:
score = int(input('학점 입력: '))
grade = ''
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
else: grade = 'D'

print(f'당신의 학점은 {score}, {grade}입니다.')

학점 입력:  76

당신의 학점은 76, C입니다.

### **`Quiz 2.`**
- 아이디와 비번 입력 받아서 둘 다 일치하면 로그인하기
- 아이디, 비번 각자 정해놓기
- 일치하지 않을 때에는 창의적으로 어떤 걸로 반환하기

In [4]:
user_id = 'gamza'; user_password = '315876'

input_id = input('아이디 입력: ')
input_password = input('비밀번호 입력: ')

if (input_id == user_id):
    if (input_password == user_password):
        print('로그인되었습니다.')
    else:
        print('비밀번호가 일치하지 않습니다!')
else:
    if (input_password == user_password):
        print('아이디가 일치하지 않습니다!')
    else:
        print('아이디와 비밀번호가 일치하지 않습니다!')

아이디 입력:  gamza5
비밀번호 입력:  315876

아이디가 일치하지 않습니다!

<br>

### **4.4 논리연산자**
- 여러 조건식을 비교할 때
- e.g. 10 < x < 20
    - 파이썬에서만 가능한 표현
    - (x > 10) 혹은 (x < 20)

- and, & : 둘 다 참일 때 True
- or, | : 둘 중 하나만 참이어도 True
- not : 참 -> False, 거짓 -> True

### **`Quiz 3.`**
- Quiz 1 확장판
- 결석 횟수를 받아서 점수가 80점 이상인데 결석이 2번 이상이면 F, 나머지는 점수대로

In [2]:
# 1) 논리연산자 사용
score = int(input('학점 입력: '))
absence = int(input('결석 횟수: '))
grade = ''

if (score >= 80) and (absence >= 2):
    grade = 'F'
elif (score >= 90) and (absence < 2):
    grade = 'A'
elif (score >= 80) and (absence < 2):
    grade = 'B'
elif score >= 70:
    grade = 'C'
else: grade = 'D'

print(f'당신의 학점은 {score}점이며 결석 횟수는 {absence}회, 따라서 {grade}입니다.')

학점 입력:  80
결석 횟수:  2

당신의 학점은 80점이며 결석 횟수는 2회, 따라서 F입니다.

In [3]:
# 2) if구조 2번 활용
score = int(input('학점 입력: '))
absence = int(input('결석 횟수: '))
grade = ''
    
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
else: grade = 'D'

if (score >= 80) and (absence >= 2):
    grade = 'F'

print(f'당신의 학점은 {score}점이며 결석 횟수는 {absence}회, 따라서 {grade}입니다.')

학점 입력:  80
결석 횟수:  2

당신의 학점은 80점이며 결석 횟수는 2회, 따라서 F입니다.

---

## **Review**

### **새롭게 알게 된 내용**

- 가변객체, 불변객체 특징
- 코드와 주석의 의의: `코드-의미`, `주석-의도`
- integer(정수): `_(언더바)`는 숫자 사이에 있을 때 `무시`된다.
- 연산: `divmod(x, y)` 두 숫자를 나누어 몫과 나머지를 tuple로 반환하는 함수
- 지수표현: 양수, 음수

### **신경 쓸 점**
- 적절한 변수명(의미있는 변수명으로 생성하기)
- 반복되는 동일한 부분(e.g. 형식이 유사한 print())을 최대한 줄인 코드(효율)
- 연산자와 피연산자 간 띄어쓰기 e.g. x = y + 2; k == 2

### **이번주 학습 자기평가**
- 대부분 아는 내용이라 아직까진 수월하다.
- 파이썬 기초 개념(언더바 규칙, 지수표현 등)에 구멍이 조금씩 있다.
- 파이썬 사용 시 C언어와 다른 문법들이 다소 헷갈린다.
    - 자꾸 변수 선언을 하려 한다.
    - 주석 문자를 잘못 사용한다.
    - 형 변환 시 괄호를 종종 반대로 친다.
- 보다 더 효율적인 코드 짜는 실력이 부족한 것 같다.

##### **학습 문제 해결책**
- 새롭게 알게된 내용은 반복 학습으로 확실히 체화하기
- 아는 내용, 쉬운 내용이라고 자만하지 않고, 더 꼼꼼히 점검하고 넘어가기
- 배운 내용 이외에 더 효율적인 내장함수, 모듈, 라이브러리 등이 있는지 확장적 학습하기
- 교재 연습문제, 코드업 파이썬 기초 100제 풀어보며 파이썬 문법 확실히 하기
- 타인의 코드 참조하여 코드 발전시키기